@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}


.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: rgba(33, 45, 57, 0.8);
  z-index: 100000;
}
.nav h2 {
  color: #ed0121;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-left: 5px;
}
#item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#item li {
  list-style: none;
  padding-right: 50px;
}
.nav #item>li>a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
  font-weight: bold;
  -webkit-transition:all 0.4s;
  -moz-transition:all 0.4s;
  -o-transition:all 0.4s;
  transition:all 0.4s;
  cursor: pointer;
}

.nav #item>li>a:hover,.nav #item>.active>a {
  color:#ed0121;
  text-shadow:none;
 
}
/* #item li a:hover,
#item .icon i:hover {
  color: #ff5733;
  cursor: pointer;
} */
#item .icon i {
  color: #fff;
  padding-right: 30px;
  font-weight: bolder;
}
#bar {
  color: #ff5733;
  font-size: 1.5rem;
  display: none;
}
.back {
  background-image: url(../img/night.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}

/* banner-section */

.back .overlay {
  background: rgba(44, 33, 5, 0.2);
  width: 100%;
  height: 100%;
  
}

.mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mid h1 {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  background: #ed0121;
  padding: 0px 18px;
  /* margin-bottom: 1.4rem; */
}
.mid-subtitle h4{
  display: inline-block;
    background: white;
    color: #ed0121;
    font-size: 38px;
    padding: 0px 15px;
    text-transform: uppercase;
}
.mid h2 {
  color: #fff;
  font-size: 3rem;
}

.mid .btn {
  margin-top: 2rem;
}

.mid .btn a {
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.mid .btn a.simple {
  color: #fff;
  font-weight: 500;
  padding: 0.9rem 1.6rem;
}

.mid .btn a.simple:hover {
  color: #ff5733;
}

.mid .btn a.border {
  color: #ff5733;
  border: 1px solid #ff5733;
  font-weight: 500;
  padding: 0.9rem 1.6rem;
  border-radius: 3px;
}

.mid .btn a.border:hover {
  background: #fff;
  border: 1px solid #fff;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 8rem 15rem;
  background: #171819;
}

.details h3,
h5,
h6 {
  color: #fff;
}

.details .one {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.details .one h3 {
  font-size: 2rem;
  padding-bottom: 1.1rem;
}
.details .one h6 {
  font-size: 1.3rem;
  padding-bottom: 1.2rem;
  font-weight: 400;
}
.details .one p {
  font-size: 1.2rem;
  padding-bottom: 3rem;
  color: #666262;
}
.details .one a {
  color: #fff;
  background: #f13a11;
  padding: 1rem 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.details .one a:hover {
  background: #fff;
  color: #f13a11;
}

.details .two {
  width: 45%;
  border-left: 1px solid #666262;
  padding: 4rem;
}

.details .two h3 {
  font-size: 2rem;
  padding-bottom: 1.1rem;
}
.details .two h5 {
  font-size: 1.1rem;
}

.details .two p {
  font-size: 1.1rem;
  color: #666262;
  margin-bottom: 0.8rem;
}

.trainer {
  background: #f9f9f9;
  padding: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trainer .about {
  width: 39%;
}

.trainer .about h2 {
  font-size: 2rem;
  color: #212529;
  padding-bottom: 1.5rem;
}

.trainer .about p {
  font-size: 1.1rem;
  color: #7f8c8d;
}

.trainer .people {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trainer .people .team1 {
  width: 45%;
  height: auto;
  box-sizing: border-box;
  background: #fff;
  cursor: pointer;
}

.trainer .people .team1 .img img {
  width: 100%;
  object-fit: cover;
}

.trainer .people .team1 .name,
.trainer .people .team1 .Pro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.trainer .people .team1 .name h4 {
  color: #212529;
  font-size: 1.3rem;
}
.trainer .people .team1 .name i,
.trainer .people .team1 .Pro i {
  font-size: 1.3rem;
  font-weight: bolder;
  cursor: pointer;
  color: #212529;
}
.trainer .people .team1 .name i:hover,
.trainer .people .team1 .Pro i:hover {
  color: #f13a11;
}
.trainer .people .team1 .name {
  padding: 5px 20px 0 20px;
}
.trainer .people .team1 .Pro {
  padding: 0 20px 5px 20px;
}
.trainer .people .team1 .Pro p {
  color: #212529;
}

.trainer .people .team1 .teamDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

.class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 8rem;
}
.class .paragraph {
  font-size: 1.3rem;
  color: #95a5a6;
  padding-bottom: 6px;
  text-align: center;
}
.class .h2 {
  font-size: 2.2rem;
  color: #222;
  font-weight: 700;
  padding-bottom: 50px;
}

.class .classMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.class .classMenu .team1 {
  width: 32%;
  height: auto;
  box-sizing: border-box;
  background: #fff;
}

.class .classMenu .team1 .img img {
  width: 100%;
  object-fit: cover;
}

.class .classMenu .team1 .name,
.class .classMenu .team1 .Pro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.class .classMenu .team1 .name h4 {
  color: #212529;
  font-size: 1.3rem;
}
.class .classMenu .team1 .name i,
.class .classMenu .team1 .Pro i {
  font-size: 1.3rem;
  font-weight: bolder;
  cursor: pointer;
  color: #212529;
}
.class .classMenu .team1 .name {
  padding: 5px 20px 0 20px;
}
.class .classMenu .team1 .Pro {
  padding: 0 20px 5px 20px;
}
.class .classMenu .team1 .Pro p {
  color: #212529;
}

.class .classMenu .team1 .teamDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

.class .classMenu .team1 .teamDetails .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px 0px 30px;
}
.class .classMenu .team1 .teamDetails .name .nameDetails h4 {
  color: #212529;
  font-size: 1.5rem;
}

.class .classMenu .team1 .teamDetails .name .nameDetails p {
  color: #212529;
  font-size: 1rem;
}
.class .classMenu .team1 .teamDetails .name .nameDetails p span {
  font-size: 1.1rem;
  font-weight: 700;
}

.class .classMenu .team1 .teamDetails .name .num h5 {
  background: #f13a11;
  font-size: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.5rem;
  text-align: center;
  border-radius: 50%;
}
.class .classMenu .team1 .Pro {
  padding: 15px 30px 30px 30px;
}

.class .classMenu .team1 .Pro p {
  font-size: 1.1rem;
  color: #666262;
}

.contact {
  padding: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact .contactDetails {
  width: 32%;
}
.contact .contactDetails p {
  font-size: 2.3rem;
}
.contact .form {
  width: 50%;
}
.contact h2 {
  font-size: 2rem;
  color: #212529;
  padding-bottom: 10px;
  width: 100%;
}

.contact .form .submit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact .form .submit input,
.contact .form .submit textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #95a5a6;
  outline: none;
  margin: 13px 0;
}

.contact .form .submit input:focus,
.contact .form .submit textarea:focus {
  border: 1px solid #111;
}
.contact .form .submit input::placeholder {
  color: #7f8c8d;
  font-size: 1.1rem;
}
.contact .form .submit textarea::placeholder {
  color: #7f8c8d;
  font-size: 1.1rem;
  height: 80%;
}
.contact .form .submit a {
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  background: #111;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin: 13px 0;
}
.contact .form .submit a:hover {
  background: #171819;
}

.footer {
  border-top: 1px solid #ecf0f1;
  padding: 5rem 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  color: #7f8c8d;
  justify-content: flex-start;
}
.footer p i {
  color: #ff5733;
  padding: 5px 10px;
}

/* media-query */




@media screen and (max-width: 1042px) {
  /* .nav {
    padding: 1rem 4.5rem;
  }

  .nav h2 {
    font-size: 1.4rem;
  } */
  #item li {
    padding-left: 30px;
  }
  #item li a {
    font-size: 0.9rem;
  }

  #item .icon i {
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
    /* .nav {
      padding: 1rem 3rem;
    }
    .nav h2 {
      color: #fff;
      font-size: 1.6rem;
    } */

    .nav {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background: rgba(33, 45, 57, 0.8);
      z-index: 100000;
    }

    .mid h1 {
      font-size: 30px;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      background: #ed0121;
      padding: 0px 18px;
      /* margin-bottom: 1.4rem; */
    }
    .mid-subtitle h4{
      display: inline-block;
        background: white;
        color: #ed0121;
        font-size: 25px;
        padding: 0px 15px;
        text-transform: uppercase;
    }
  #item {
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 80vh;
    position: fixed;
    top: 0;
    right: -300px;
    background: rgb(0, 0, 0, 0.8);
    z-index: 100000;
    margin-top: 4.5rem;
    transition: 0.5s;
  }

  #item li {
    padding-right: 0;
    padding: 4px 0;
  }
  #item li a {
    font-size: 1.1rem;
  }
  #item li a:hover,
  #item .icon i:hover {
    color: #ff5733;
    cursor: pointer;
  }

  #item .icon {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #item .icon i {
    padding: 0 15 0 15px;
  }
  #bar {
    display: initial;
    cursor: pointer;
  }

  .mid p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
  }

  .mid h2 {
    font-size: 2.5rem;
  }

  .mid .btn {
    margin-top: 1.5rem;
  }

  .mid .btn a {
    font-size: 0.9rem;
  }

  .mid .btn a.simple {
    padding: 0.7rem 1.4rem;
  }

  .mid .btn a.simple:hover {
    color: #ff5733;
  }

  .mid .btn a.border {
    padding: 0.7rem 1.4rem;
    border-radius: 3px;
  }

  .details {
    padding: 6rem 7rem;
  }

  .details .one {
    width: 50%;
  }

  .details .one h3 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
  }
  .details .one p {
    font-size: 1.1rem;
    padding-bottom: 2.2rem;
  }
  .details .one a {
    font-size: 0.9rem;
  }
  .details .two {
    padding: 3.5rem;
  }

  .details .two h3 {
    font-size: 1.7rem;
  }
  .details .two h5 {
    font-size: 1rem;
  }

  .details .two p {
    font-size: 1rem;
    margin-bottom: 0.6rem;
  }

  .trainer {
    padding: 6rem 7rem;
  }

  .trainer .about h2 {
    font-size: 2rem;
    padding-bottom: 1.4rem;
  }

  .trainer .about p {
    font-size: 1rem;
  }

  .trainer .people {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .trainer .people .team1 {
    width: 48%;
  }

  .trainer .people .team1 .name h4 {
    font-size: 1.1rem;
  }
  .trainer .people .team1 .name i,
  .trainer .people .team1 .Pro i {
    font-size: 1.1rem;
  }
  .trainer .people .team1 .name i:hover,
  .trainer .people .team1 .Pro i:hover {
    color: #f13a11;
  }
  .trainer .people .team1 .name {
    padding: 5px 15px 0 15px;
  }
  .trainer .people .team1 .Pro {
    padding: 0 15px 5px 15px;
  }

  .class {
    padding: 6rem;
  }
  .class .paragraph {
    font-size: 1.1rem;
    padding-bottom: 4px;
  }
  .class .h2 {
    font-size: 2rem;
    padding-bottom: 30px;
  }

  .class .classMenu .team1 {
    width: 32%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
  }

  .class .classMenu .team1 .name,
  .class .classMenu .team1 .Pro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .class .classMenu .team1 .name h4 {
    color: #212529;
    font-size: 1.3rem;
  }
  .class .classMenu .team1 .name i,
  .class .classMenu .team1 .Pro i {
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    color: #212529;
  }
  .class .classMenu .team1 .name {
    padding: 5px 20px 0 20px;
  }
  .class .classMenu .team1 .Pro {
    padding: 0 20px 5px 20px;
  }
  .class .classMenu .team1 .Pro p {
    color: #212529;
  }

  .class .classMenu .team1 .teamDetails {
    padding-bottom: 7px;
  }

  .class .classMenu .team1 .teamDetails .name {
    padding: 5px 15px 0px 15px;
  }
  .class .classMenu .team1 .teamDetails .name .nameDetails h4 {
    font-size: 1.2rem;
  }

  .class .classMenu .team1 .teamDetails .name .nameDetails p {
    font-size: 1rem;
  }
  .class .classMenu .team1 .teamDetails .name .nameDetails p span {
    font-size: 1rem;
  }

  .class .classMenu .team1 .teamDetails .name .num h5 {
    font-size: 0.9rem;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.5rem;
  }
  .class .classMenu .team1 .Pro {
    padding: 15px 15px 30px 15px;
  }

  .class .classMenu .team1 .Pro p {
    font-size: 1rem;
  }

  .contact {
    padding: 6rem;
  }

  .contact .contactDetails p {
    font-size: 2rem;
  }
  .contact .form {
    width: 50%;
  }
  .contact h2 {
    font-size: 2rem;
    padding-bottom: 7px;
  }

  .contact .form .submit input,
  .contact .form .submit textarea {
    padding: 12px;
    margin: 10px 0;
  }

  .contact .form .submit input::placeholder {
    font-size: 1rem;
  }
  .contact .form .submit textarea::placeholder {
    font-size: 1rem;
  }
  .contact .form .submit a {
    padding: 13px 0;
    font-size: 1rem;
    margin: 10px 0;
  }
  .contact .form .submit a:hover {
    background: #171819;
  }
  .footer {
    padding: 6rem;
  }
}

.nav h1{
  color:white;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  display: none;
}

@media screen and (max-width: 768px) {

  .nav h1{
    color:white;
    font-weight: bold;
    font-size: 30px;
    display: block;
    margin-left: -18%;
  }

  
  .nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgba(33, 45, 57, 0.8);
    z-index: 100000;
  }
  .nav h2 {
    font-size: 1.5rem;
  }
  .back {
    background-position: center;
  }

  .mid p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .mid h2 {
    font-size: 2.1rem;
  }

  .mid .btn {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mid .btn a {
    font-size: 0.9rem;
  }

  .mid .btn a.simple {
    padding: 0.7rem 1.4rem;
    margin-bottom: 7px;
  }

  .mid .btn a.simple:hover {
    color: #ff5733;
  }

  .mid .btn a.border {
    padding: 0.7rem 1.4rem;
    border-radius: 3px;
  }

  .details {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .trainer .about {
    width: 70%;
    margin-bottom: 1.7rem;
  }

  .details .one {
    width: 70%;
  }

  .details .one a {
    font-size: 1rem;
  }
  .details .two {
    padding: 0;
    border-left: 0;
    border-top: 1px solid #666262;
    width: 70%;
    margin-top: 1.7rem;
    padding-top: 1.7rem;
  }

  .trainer {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
  }

  .trainer .people {
    width: 70%;
  }

  .class {
    padding: 6rem;
  }

  .class .classMenu {
    flex-direction: column;
    justify-content: center;
  }

  .class .classMenu .team1 {
    width: 65%;
    height: auto;
    margin-bottom: 20px;
  }

  .contact {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
  }

  .contact .contactDetails p {
    font-size: 2rem;
    margin-top: 10px;
  }
  .contact .form {
    width: 50%;
  }
  .contact h2 {
    font-size: 2.3rem;
  }

  .footer {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 496px) {
  .mid p {
    margin-bottom: 0.8rem;
  }

  .mid h2 {
    font-size: 1.8rem;
  }

  .mid .btn {
    margin-top: 0.7rem;
  }

  .mid .btn a {
    font-size: 0.9rem;
  }

  .details {
    /* padding: 4rem 1rem; */
  }

  .trainer .about {
    width: 100%;
  }

  .details .one {
    width: 100%;
  }

  .details .two {
    width: 100%;
  }

  .trainer {
    /* padding: 4rem 1rem; */
  }

  .trainer .people {
    width: 80%;
    flex-direction: column;
    justify-content: center;
  }

  .trainer .people .team1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .class {
    /* padding: 4rem 1rem; */
  }

  .class .classMenu {
    flex-direction: column;
    justify-content: center;
  }

  .class .classMenu .team1 {
    width: 100%;
  }

  .contact {
    padding: 4rem 1rem;
  }

  .contact .contactDetails p {
    font-size: 2rem;
    margin-top: 10px;
  }
  .contact .form {
    width: 100%;
  }
  .contact h2 {
    font-size: 2.3rem;
  }

  .footer {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
