@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}


/* .nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: rgba(33, 45, 57, 0.8);
  z-index: 100000;
} */
#footer .social-icons{
   padding: 2rem; 
   margin-left: -15px;
   font-size: 3rem;
   cursor: pointer;
   color:#fff;
    opacity:1;
    filter:alpha(opacity=100);
    -webkit-transition:opacity 350ms ease;
    -moz-transition:opacity 350ms ease;
    -o-transition:opacity 350ms ease;
    transition:opacity 350ms ease;
}


#footer .social-icons:hover{
  background:#ed0121;
  opacity:0.5;
  filter: alpha(opacity=50);
}
#footer .foot-text{
  font-size: 14px;
  font-weight: 400;
  background: rgba(33, 45, 57, 0.8); 
  padding: 1rem;
}

.footer-logo h2{
 font-size: 18px;
 margin-left: 15px;
 font-weight: 600;
 margin-top: 2px;

}

/* Default state (before scroll) */
#header-bar .header-internal {
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
}
#header-bar.scrolled .header-internal{
  /* change the navbar background colour & add blur */

    background: rgba(0, 0, 0, 0.4)!important;
    backdrop-filter: blur(7px);
    /* pushes nav container away from edges */
     margin: 20px 40px;
     /* add rouded edges*/
     border-radius: 100px;
     border:1px solid rgba(0, 0, 0, 0.8);
}
#header-bar.scrolled .navbar-nav > li > a {
  color: #fff !important;
}
#header-bar {
  z-index: 9999; /* Make sure it's on top */
}

@media (max-width: 767px) {
  #header-bar.scrolled .header-internal {
    margin: 10px 10px !important;
    border-radius: 30px;
  }
}
@media (max-width: 767px) {
  #header-bar.scrolled .header-internal {
    margin: 10px 10px !important;
    border-radius: 30px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}
.nav h2 {
  color: #ed0121;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-left: 5px;
}
#item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#item li {
  list-style: none;
  padding-right: 50px;
}
.nav #item>li>a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
  font-weight: bold;
  -webkit-transition:all 0.4s;
  -moz-transition:all 0.4s;
  -o-transition:all 0.4s;
  transition:all 0.4s;
  cursor: pointer;
}

.nav #item>li>a:hover,.nav #item>.active>a {
  color:#ed0121;
  text-shadow:none;
 
}
/* #item li a:hover,
#item .icon i:hover {
  color: #ff5733;
  cursor: pointer;
} */
#item .icon i {
  color: #fff;
  padding-right: 30px;
  font-weight: bolder;
}
#bar {
  color: #ff5733;
  font-size: 1.5rem;
  display: none;
}
.back {
  background-image: url(../img/night.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}

/* banner-section */

.back .overlay {
  background: rgba(44, 33, 5, 0.2);
  width: 100%;
  height: 100%;
  
}

.mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mid h1 {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  background: #ed0121;
  padding: 0px 18px;
  /* margin-bottom: 1.4rem; */
}
.mid-subtitle h4{
  display: inline-block;
    background: white;
    color: #ed0121;
    font-size: 38px;
    padding: 0px 15px;
    text-transform: uppercase;
}
.mid h2 {
  color: #fff;
  font-size: 3rem;
}

.mid .btn {
  margin-top: 2rem;
}

.mid .btn a {
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.mid .btn a.simple {
  color: #fff;
  font-weight: 500;
  padding: 0.9rem 1.6rem;
}

.mid .btn a.simple:hover {
  color: #ff5733;
}

.mid .btn a.border {
  color: #ff5733;
  border: 1px solid #ff5733;
  font-weight: 500;
  padding: 0.9rem 1.6rem;
  border-radius: 3px;
}

.mid .btn a.border:hover {
  background: #fff;
  border: 1px solid #fff;
}

.footer {
  border-top: 1px solid #ecf0f1;
  padding: 5rem 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  color: #7f8c8d;
  justify-content: flex-start;
}
.footer p i {
  color: #ff5733;
  padding: 5px 10px;
}

/* media-query */




@media screen and (max-width: 1042px) {
  /* .nav {
    padding: 1rem 4.5rem;
  }

  .nav h2 {
    font-size: 1.4rem;
  } */
  #item li {
    padding-left: 30px;
  }
  #item li a {
    font-size: 0.9rem;
  }

  #item .icon i {
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
    /* .nav {
      padding: 1rem 3rem;
    }
    .nav h2 {
      color: #fff;
      font-size: 1.6rem;
    } */
/* 
    .nav {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background: rgba(33, 45, 57, 0.8);
      z-index: 100000;
    } */

    .mid h1 {
      font-size: 30px;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      background: #ed0121;
      padding: 0px 18px;
      /* margin-bottom: 1.4rem; */
    }
    .mid-subtitle h4{
      display: inline-block;
        background: white;
        color: #ed0121;
        font-size: 25px;
        padding: 0px 15px;
        text-transform: uppercase;
    }
  #item {
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 80vh;
    position: fixed;
    top: 0;
    left:48%;
    right: -300px;
    background: rgb(0, 0, 0, 0.8);
    z-index: 100000;
    /* margin-top: 4.5rem; */
    transition: 0.5s;
  }

  #item li {
    padding-right: 0;
    padding: 4px 0;
  }
  #item li a {
    font-size: 1.1rem;
  }
  #item li a:hover,
  #item .icon i:hover {
    color: #ff5733;
    cursor: pointer;
  }

  #item .icon {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #item .icon i {
    padding: 0 15 0 15px;
  }
  #bar {
     display: initial; 
    cursor: pointer;
  }

  .mid p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
  }

  .mid h2 {
    font-size: 2.5rem;
  }

  .mid .btn {
    margin-top: 1.5rem;
  }

  .mid .btn a {
    font-size: 0.9rem;
  }

  .mid .btn a.simple {
    padding: 0.7rem 1.4rem;
  }

  .mid .btn a.simple:hover {
    color: #ff5733;
  }

  .mid .btn a.border {
    padding: 0.7rem 1.4rem;
    border-radius: 3px;
  }

  .footer {
    padding: 6rem;
  }
}

.nav h1{
  color:white;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  display: none;
}

@media screen and (max-width: 768px) {

  .nav h1{
    color:white;
    font-weight: bold;
    font-size: 30px;
    display: block;
    margin-left: -18%;
  }

  
  /* .nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgba(33, 45, 57, 0.8);
    z-index: 100000;
  } */
  .nav h2 {
    font-size: 1.5rem;
  }
  .back {
    background-position: center;
  }

  .mid p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .mid h2 {
    font-size: 2.1rem;
  }

  .mid .btn {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mid .btn a {
    font-size: 0.9rem;
  }

  .mid .btn a.simple {
    padding: 0.7rem 1.4rem;
    margin-bottom: 7px;
  }

  .mid .btn a.simple:hover {
    color: #ff5733;
  }

  .mid .btn a.border {
    padding: 0.7rem 1.4rem;
    border-radius: 3px;
  }

  .details {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .trainer .about {
    width: 70%;
    margin-bottom: 1.7rem;
  }

  .details .one {
    width: 70%;
  }

  .details .one a {
    font-size: 1rem;
  }
  .details .two {
    padding: 0;
    border-left: 0;
    border-top: 1px solid #666262;
    width: 70%;
    margin-top: 1.7rem;
    padding-top: 1.7rem;
  }

  .trainer {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
  }

  .trainer .people {
    width: 70%;
  }

  .class {
    padding: 6rem;
  }

  .class .classMenu {
    flex-direction: column;
    justify-content: center;
  }

  .class .classMenu .team1 {
    width: 65%;
    height: auto;
    margin-bottom: 20px;
  }

  .contact {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
  }

  .contact .contactDetails p {
    font-size: 2rem;
    margin-top: 10px;
  }
  .contact .form {
    width: 50%;
  }
  .contact h2 {
    font-size: 2.3rem;
  }

  .footer {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 496px) {
  .mid p {
    margin-bottom: 0.8rem;
  }

  .mid h2 {
    font-size: 1.8rem;
  }

  .mid .btn {
    margin-top: 0.7rem;
  }

  .mid .btn a {
    font-size: 0.9rem;
  }

  .details {
    /* padding: 4rem 1rem; */
  }

  .trainer .about {
    width: 100%;
  }

  .details .one {
    width: 100%;
  }

  .details .two {
    width: 100%;
  }

  .trainer {
    /* padding: 4rem 1rem; */
  }

  .trainer .people {
    width: 80%;
    flex-direction: column;
    justify-content: center;
  }

  .trainer .people .team1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .class {
    /* padding: 4rem 1rem; */
  }

  .class .classMenu {
    flex-direction: column;
    justify-content: center;
  }

  .class .classMenu .team1 {
    width: 100%;
  }

  .contact {
    padding: 4rem 1rem;
  }

  .contact .contactDetails p {
    font-size: 2rem;
    margin-top: 10px;
  }
  .contact .form {
    width: 100%;
  }
  .contact h2 {
    font-size: 2.3rem;
  }

  .footer {
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
